
{% extends 'base.html.twig' %}

{% block body %}
<!doctype html>
<html lang="en">

<body class="text-center">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">


    <main role="main" class="inner cover" style="  padding: 70px 0;text-align: center;">
        <h1 class="cover-heading">Les pros de l'archivage</h1>
        <p class="lead"> N'attendez plus, archivez votre société.</p>
        <p class="lead">
            <a href="/firm/new" class="btn btn-lg btn-secondary">Insérer sa société</a>
        </p>
        <p class="lead">
            <a href="/firm" class="btn btn-lg btn-light">Voir les entreprises</a>
        </p>
    </main>





</div>
</body>
</html>

{% endblock %}